<div class="t-top">
    <div class="t-crumb">~ / <span class="t-ink">xingjianz</span> / <span data-page-label>home</span>.sh</div>
    <nav class="t-nav">
        <a href="/" data-nav="home">home</a>
        <a href="/pages/research.html" data-nav="research">research</a>
        <a href="/pages/experience.html" data-nav="experience">experience</a>
        <a href="/pages/projects.html" data-nav="projects">projects</a>
        <a href="/pages/misc.html" data-nav="misc">misc</a>
    </nav>
</div>
